*.class
*.DS_Store
*.only_homo

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# folder
src/main/webapp/WEB-INF/file/

# ignore eclipse files
.project
.classpath
.settings
.metadata
