*.class
*.DS_Store
*.only_homo

# Package Files #
*.jar
*.war
*.ear

# ignore Maven generated target folders
target

# folder
src/main/webapp/WEB-INF/file/annotationFiles
src/main/webapp/WEB-INF/file/scriptFiles
src/main/webapp/WEB-INF/file/snpSamples
src/main/webapp/WEB-INF/file/uploadFiles
src/main/webapp/WEB-INF/file/sourceForDownloading

# ignore eclipse files
.project
.classpath
.settings
.metadata
